<h1>Here are your boats, <%= current_coach.name %></h1>

<% current_coach.boats.each do |boat| %>
  <h3>Name: <%= boat.name %></h3>
  <h5>Weight: <%= boat.weight %></h5>
  <h5>Seats: <%= boat.num_seats %></h5>
  <p>Rowers:<br>
    <% boat.rowers.each do |rower| %>
      <%= rower.name %><br>
    <%end%>
  </p>

<% end %>



<br>
<a href="/coaches/logout">Log Out</a>
<br>
<a href="/boats/new">New Boat</a>
<br>
<form action="/boats/edit" method="post">
  <label>Enter the name of the boat you'd like to edit:</label>
  <input type="text" name="boat[name]">
  <input type="submit" name="submit" value="submit">
</form>
